<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- core -->
        <mapping class="id.co.sambaltomat.core.model.User"/>
        <mapping class="id.co.sambaltomat.core.model.Roles"/>
        <!-- end core -->

        <mapping class="id.co.sambaltomat.model.TestModel"/>

    </session-factory>
</hibernate-configuration>